.logo {
    display: flex;
    justify-content: flex-start;
    height: 150px;
    width: 150px;
    background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #eb8dd8;
    transform: scale(1.1);
}

#logo-img {
    transition: all 1s;
}

#logo-img:hover {
    transform: scale(1.1);
}